<h1>Kommentar erstellen</h1>
<form class="ui large form" [formGroup]="commentForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">

  <div class="field">
    <label>Kommentar</label>
    <input formControlName="comment">
    <div *ngIf="errors['comment']" class="ui negative message"> {{
      errors['comment'] }} </div>
  </div>

  <div class="field" [class.disabled]="true">
    <label>ID des Eintrags</label>
    <input formControlName="entrie_id">
    <div *ngIf="errors['entrie_id']" class="ui negative message">{{
      errors['entrie_id'] }} </div>
  </div>

  <button type="submit" class="ui button"
          [disabled]="commentForm.invalid">Speichern</button>
</form>
