<h1>Kommentar erstellen</h1>
<form class="ui large form" [formGroup]="commentForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="entrie_id">
  <input type="hidden" formControlName="user_id">

  <div class="mb-3">
    <label for="comment" class="form-label">Kommentar</label>
    <textarea class="form-control" id="comment" rows="5" formControlName="comment"></textarea>
    <div *ngIf="errors['comment']" class="text-danger">
      {{ errors['comment'] }}
    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-primary"
          [disabled]="commentForm.invalid">Speichern</button>
</form>
