<h1 class="h1">Rating erstellen</h1>
<form class="ui large form" [formGroup]="ratingForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="entrie_id">
  <input type="hidden" formControlName="user_id">

  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <input type="number" class="form-control" id="rating" formControlName="rating">
    <div *ngIf="errors['rating']" class="text-danger">
      {{ errors['rating'] }}
    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-primary"
          [disabled]="ratingForm.invalid">Speichern</button>
</form>
