<h1>Eintrag bearbeiten / erstellen</h1>
<form class="ui large form" [formGroup]="entryForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="user_id">
  <input type="hidden" formControlName="padlet_id">

  <div class="mb-3">
    <label for="title" class="form-label">Titel des Padlets</label>
    <input type="text" class="form-control" id="title" formControlName="title">
    <div *ngIf="errors['title']" class="text-danger">
      {{ errors['title'] }}
    </div>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" rows="8" formControlName="content"></textarea>
    <div *ngIf="errors['content']" class="text-danger">
      {{ errors['content'] }}
    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-primary" [disabled]="entryForm.invalid">Speichern</button>
</form>
