<h1>Padlet bearbeiten / erstellen</h1>
<form class="ui large form" [formGroup]="padletForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="user_id">

  <div class="mb-3">
    <label for="name" class="form-label">Bezeichnung des Padlets</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    <div *ngIf="errors['name']" class="text-danger">
      {{ errors['name'] }}
    </div>
  </div>

  <div class="col-md-3">
    <label for="status" class="form-label">Status (öffentlich/privat)</label>
    <select class="form-select" id="status" formControlName="is_public">
    <option selected>Wähle...</option>
    <option value="1">öffentlich</option>
    <option value="2">privat</option>
    </select>
    <div *ngIf="errors['is_public']" class="text-danger">{{ errors['is_public'] }}</div>
  </div>

  <br>

  <button type="submit" class="btn btn-primary"
          [disabled]="padletForm.invalid">Speichern</button>
</form>
