<div class="content">
  <div class="header">{{ padlet?.name }}</div>
  <div class="metadata">
    <div class="content">Ersteller: {{ padlet?.user?.firstName}} {{ padlet?.user?.lastName}}</div>
  </div>
  <div class="extra">ID: {{ padlet?.id }}</div>
</div>

<div *ngFor="let entrie of entries" class="item">
  <div class="header title">{{entrie?.title }}</div>
  <div class="header">{{entrie?.content }}</div>
  <div class="ui divider"></div>
</div>


<button [routerLink] = "'/padlets'" class="ui green button">Zurück zur Padletliste</button>
