<section class="container-fluid py-3 position-relative scrollarea">
  <h1 class="display-6 mb-0">{{ padlet?.name }}</h1>
  <div class="my-2 text-body-secondary">
    <span class="me-2">
      <i class="bi bi-calendar-plus"></i>
      {{ padlet?.created_at | date:'dd.MM.yyyy' }}
    </span>
    <span class="me-2">
      <i class="bi bi-person-fill-add"></i>
      {{ padlet.user.firstName }} {{ padlet.user.lastName }}
    </span>
  </div>
  <div *ngIf="authService.isLoggedIn()" class="position-absolute top-0 end-0">
    <div class="d-grid gap-2 d-md-block mt-4 me-4">
      <button class="btn btn-primary" type="button" title="Padlet bearbeiten" [routerLink]="['/admin', padlet.id]">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-danger" type="button" title="Padlet löschen" (click)="deletePadlet()">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-success" type="button" title="neuen Eintrag erfassen" [routerLink]="['/admin/padlets', padlet.id, 'entries']">
        <i class="bi bi-plus-square"></i>
      </button>
    </div>
  </div>
  <hr class="my-4">
  <div class="row mb-2 g-3">
    <!-- PADLET ENTRY START -->
    <div *ngFor="let entry of entries" class="col-12">
      <div class="border rounded overflow-hidden" >
        <div class="col p-4 d-flex flex-column position-relative">
          <!-- PADLET NAME-->
          <h3 class="mb-0">{{ entry?.title }}</h3>
          <!-- ERSTELLUNGSDATUM -->
          <div class="my-2 text-body-secondary">
            <span class="me-2">
              <i class="bi bi-calendar-plus"></i>
              {{ entry?.created_at | date:'dd.MM.yyyy' }}
            </span>
          </div>

          <div *ngIf="authService.isLoggedIn()" class="position-absolute top-0 end-0">
            <div class="d-grid gap-4 d-md-block mt-4 me-4">
              <button class="btn btn-primary" type="button" title="Eintrag bearbeiten" [routerLink]="['/admin/padlets', padlet.id, 'entries', entry.id]">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-danger" type="button" title="Eintrag löschen" (click)="deleteEntrie(entry.id)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>

          <hr>

          <!-- INHALT -->

          <div *ngIf="entry?.content" class="card-text mb-auto">
            <p>
              {{ entry?.content }}
            </p>
          </div>

          <!-- KOMMENTARE -->
          <div class="padlet-custom-comments position-relative">
            <h4 class="mt-5 mb-3">Kommentare</h4>

            <div *ngIf="authService.isLoggedIn()" class="position-absolute top-0 end-0">
              <div class="d-grid gap-2 d-md-block mt-5">
                <button class="btn btn-success btn-sm" type="button" title="Komentar erstellen" [routerLink]="['/admin/padlets', padlet.id, 'entries', entry.id,'comments']">
                  <i class="bi bi-plus-square me-1"></i>
                  Kommentar erstellen
                </button>
              </div>
            </div>

            <div *ngIf="entry.comments" class="list-group">
              <div *ngFor="let comment of entry.comments" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="{{ comment.user.image }}" alt="Foto von {{ comment.user.firstName }} {{ comment.user.lastName }}" class="rounded-circle flex-shrink-0" width="32" height="32">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">{{ comment.user.firstName }} {{ comment.user.lastName }}</h6>
                    <p class="mb-0 opacity-75">{{ comment.comment}}</p>
                  </div>
                  <small class="opacity-50 text-nowrap">{{ comment?.create_date | date:'dd.MM.yyyy' }}</small>
                </div>
              </div>
            </div>
          </div>



          <!-- BEWERTUNGEN -->
          <div class="padlet-custom-ratings position-relative">
            <h4 class="mt-5 mb-3">Bewertungen</h4>

            <div *ngIf="authService.isLoggedIn()" class="position-absolute top-0 end-0">
              <div class="d-grid gap-2 d-md-block mt-5">
                <button class="btn btn-success btn-sm" type="button" title="Bewertung erstellen" [routerLink]="['../../admin/padlets', padlet.id, 'entries', entry.id,'ratings']">
                  <i class="bi bi-plus-square me-1"></i>
                  Bewertung erstellen
                </button>
              </div>
            </div>

            <div *ngIf="entry.ratings" class="list-group">
              <div *ngFor="let rating of entry.ratings" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="{{ rating.user.image }}" alt="Foto von {{ rating.user.firstName }} {{ rating.user.lastName }}" class="rounded-circle flex-shrink-0" width="32" height="32">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">{{ rating.user.firstName }} {{ rating.user.lastName }}</h6>
                    <p class="mb-0 opacity-75">
                      <i *ngFor="let r of getRating(rating.rating)" class="bi bi-star-fill"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PADLET ENTRY ENDE -->


