<div class="list-group">
  <h1 class="h1">Deine Padlets</h1>
  <div *ngFor="let padlet of padlets" class="list-group-item">
    <!-- User ist angemeldet - öffentliche & private Padlets ausgeben -->
    <div *ngIf="authService.isLoggedIn()">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a class="bs-padlet-list-item" [padlet]="padlet" [routerLink]="padlet.id.toString()"></a>
        </div>
      </div>
    </div>
    <!-- User ist nicht angemeldet - nur öffentliche Padlets werden angezeigt -->
    <div *ngIf="authService.isLoggedOut()">
      <div *ngIf="padlet.is_public">
        <a class="bs-padlet-list-item" [padlet]="padlet" [routerLink]="padlet.id.toString()"></a>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-warning btn-sm" [routerLink]="['../admin']">
  <i class="fas fa-plus"></i> Padlet erstellen
</a>
